# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Testing
/.vscode
/EXEs
*test*
localjson
tmp*


# Distribution / packaging
build.zip
.exe
build*
target/
Cargo.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
